<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta
    content="Energeticky.report nabízí neinvazivní bezdrátový IoT monitoring spotřeby strojů s mobilním řešením, bezpečnou komunikací a daty dostupnými ve vašem zařízení. Instalace do 30 dnů za příznivou cenu."
    name="description">
  <meta content="bezdrátový IoT monitoring, spotřeba strojů, neinvazivní měření, mobilní řešení, bezpečná komunikace, energetický audit, HARDWARIO, průmyslová automatizace, efektivní správa energií" name="keywords">
  <title>Energy report</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/images/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Energetický report" />
  <link rel="manifest" href="/images/favicon/site.webmanifest" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    {% block content %} {% endblock content %}
  </div>
</body>

<footer>
  <div class="footer">
    <p>energeticky.report &copy; <a href="https://www.hardwario.com/cs/contact">HARDWARIO</a></p>
  </div>
</footer>

</html>