<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Pokročilý IoT monitoring spotřeby strojů. Optimalizujte své náklady, zlepšete efektivitu a mějte své energie pod kontrolou." name="description">
  <title>Energy report</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>


    <div class="container">
      {% block content %} {% endblock content %}
    </div>

</body>

<footer>
  <p class="footer">energeticky.report provozuje <a href="https://www.hardwario.com/cs/contact">HARDWARIO</a></p>
</footer>

</html>