<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Energy report</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/images/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Energetický report" />
  <link rel="manifest" href="/images/favicon/site.webmanifest" />
</head>

<body>
  <div class="container">
    {% block content %} {% endblock content %}
  </div>
</body>

<footer>
  <p class="footer">energeticky.report provozuje <a href="https://www.hardwario.com/cs/contact">HARDWARIO</a></p>
</footer>

</html>